:root {
    --primary-color: #036ae1;
    --secondary-color: whitesmoke;
}

body {
    font-family: 'Roboto', sans-serif;
    min-width: 270px;
}

.popup-title {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.btn.btn-primary {
    background-color: var(--primary-color);
}